.favoritesPage {
  padding: 24px;
  width: 888px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favoritesText {
  font-weight: 600;
  font-size: 24px;
}
.goCatalog {
  text-decoration: underline;
}
.goCatalog:hover,
.goCatalog:focus {
  color: #e44848;
}
